body
{
  /* font-family: Consolas, Monaco, 'Andale Mono', monospace; */
  font-family: Monaco, sans-serif;
}


.menus .menu-item
{
    /* background: grey; */
    min-width: 40px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.5rem;
    border-bottom: 1px solid transparent;
    font-size: 13px;
}

.menus .menu-item:hover
{
    border-bottom: 1px solid rgb(148, 148, 148);
}

.menus .menu-item.icon
{
    margin: 0 2px;
    border-radius: 5px;
}

.menus .menu-item.icon:hover
{
    border: none;
}


section
{
    /* border: red solid 2px; */
    margin: 30px 0;
    padding: 10px 1rem;
    width: 100%;
}

section .heading
{
    font-weight: bold;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    text-transform: capitalize;
}

section .contents
{
    margin-top: 20px;
    width: 100%;
}

.features-card
{
    /* border: 2px solid red; */
    /* padding: 0.4rem 2rem; */
    /* margin: 0 1px; */
    margin-right: 12px;
    margin-bottom: 10px;
    /* width: 24%; */
    /* flex: 1; */
    border-radius: 4px;
    padding: 0.5rem 1rem;
    border: 1px solid #c8c8c8;
}

.features-card .icon
{
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.features-card .title
{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 0.9rem;
    margin-bottom: 3px;
}

.features-card .text
{
    font-size: 13px;
    font-weight: 300;
    text-wrap:wrap;
    word-break:break-all;
}

.why-use .card
{
    /* width: 32%; */
}


.tab .tab-item
{
    border: transparent solid 1px;
    padding: 0.7rem;
    color: #838383;
    font-weight: 550;
    margin-right: 5px;
    user-select: none;
    font-weight: bold;
}

.tab .tab-item:hover,
.tab .tab-item.active
{
    border-bottom: 1px solid #000;
    font-weight: bolder;
    color: #000;
}

